* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #d9cae2;
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.nav-link {
    padding: 0 10px;
    line-height: 20px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: #490887;
}

.main {
    padding: 10px;
    background-color: #e3d8ea;
}

.avatar {
    height: 200px;
    border-radius: 50%;
}

.section-title {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
}

.main-title {
    font-size: 32px;
}

.pre {
    font-size: 14px;
}

.footer {
    background-color: #d9cae2;
    padding: 20px;
}

.container {
    max-width: 1440px;
    margin: 0 auto;

}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rss {
    width: 121px;
    height: 45px;
    background-image: url(./assets/svg/rs_school_js.svg);
    background-size: contain;
    background-repeat: no-repeat;
}